<form name="container-form" method="POST" action="/courses/restore-delete-course" class="mt-4">
    <div>
        <a href="/me/stored/courses">Quay lại</a>
        <h3>Khóa học đã xóa</h3>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-all">
                <label class="form-check-label" for="exampleCheck1">Chọn tất cả</label>
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Hành động --</option>
                <option value="restore">Khôi phục</option>
                <option value="forceDestroy">Xóa vĩnh viễn</option>
            </select>
            <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Thực hiện</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="2">#</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">Trình độ</th>
                    <th scope="col" colspan="2">Thời gian xóa</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses }}
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id={{this._id}}
                            data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống.
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var restoreCourse = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        restoreCourse.click(function (e) {
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });

        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        checkAllSubmitBtn.on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disabled');
            if (!isSubmittable) {
                e.preventDefault();
            }
        });

        function renderCheckAllSubmitBtn() {
            if ($('input[name="courseIds[]"]:checked').length > 0) {
                checkAllSubmitBtn.removeClass('disabled');
            } else {
                checkAllSubmitBtn.addClass('disabled');
            }
        }
    });
</script>